<html>
<body background="https://media.giphy.com/media/NLbYFCdX8dVK0/giphy.gif">
  <font size="20" color="red">
<h1 align="center">Game Over !</h1>
<h2 align="center"><%= @game.players[@game.winner].name %> WINS!</h2>
</font>
</body>
</html>
